@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 242, 242, 242;
    --background-end-rgb: 242, 242, 242;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: #000;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
